body {
    background-color: gray;
    font-size: 12px;
    font-family: Arial, sans-serif;
    font-style: normal;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 1024px) {
    body {
        margin-left: auto;
        margin-right: auto;
        width: 90%;
    }
}

/****************************************************/
header {
    background: url("images/head.png") repeat-x center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    height: 110px;
    margin-top: -15px;
}

header h1 a {
    background: url("images/logo.png") no-repeat;
    text-decoration: none;
    display: block;
    width: 200px;
    height: 100px;
    float: left;
    margin-left: 50px;
    margin-top: 20px;
}

header h1 a span {
    color: rgba(0, 0, 0, 0);
}

.twitter {
    background: url("images/i_twitter.png") no-repeat;
    text-decoration: none;
    display: block;
    width: 22px;
    height: 22px;
}

.twitter span {
    color: rgba(0, 0, 0, 0);
}

.fb {
    background: url("images/i_fb.png") no-repeat;
    text-decoration: none;
    display: block;
    width: 22px;
    height: 22px;
}

.fb span {
    color: rgba(0, 0, 0, 0);
}

.linkedin {
    background: url("images/i_linkedin.png") no-repeat;
    text-decoration: none;
    display: block;
    width: 22px;
    height: 22px;
}

.linkedin span {
    color: rgba(0, 0, 0, 0);
}

#social a {
    display: inline;
    float: left;
    margin-right: 5px;
}

#social {
    overflow: hidden;
    float: right;
    padding-bottom: 20px;
}

#topmenu a {
    text-decoration: none;
    color: #000000;
    float: right;
    margin-right: 40px;
    margin-top: 20px;
    margin-bottom: 10px;
}

#topmenu hr {
    display: none;
}

.hidden {
    display: none;
}

#topmenu a {
    background: url('images/loginlink.png') no-repeat right;
}

#topmenu a {
    padding-right: 10px;
}

#sitemap {
    text-decoration: none;
    clear: right;
    float: right;
    margin-right: 40px;
    margin-left: 10px;
}

#sitemap a {
    text-decoration: none;
    color: #000000;
    padding-right: 10px;
}

#sitemap a {
    background: url('images/loginlink.png') no-repeat right;
}

nav#menubar ul {
    margin: 0px;
    padding: 0px;
    text-align: center;
}

nav#menubar li {
    list-style: none;
    display: inline-block;
    padding-right: 10px;
    border: 2px #999999;
    border-right-style: solid;
    margin-right: 5px;
    position: relative;
}

nav#menubar li:nth-last-child(1) {
    border-right-style: hidden;
}

nav#menubar {
    float: right;
    clear: right;
    margin-right: 35px;
}

.selected:before {
    background-image: url("images/sel.png");
    content: "";
    display: inline-block;
    width: 19px;
    height: 7px;
    background-repeat: no-repeat;
    position: absolute;
    bottom: -10px;
    left: 7px;
}

nav#menubar a {
    text-decoration: none;
    color: #000000;

}

.selected {
    font-weight: bold;
}

/****************************************************/
#topimg {

    border-top: 2px solid white;
    background: url("images/topimg.jpg") no-repeat left bottom;
    height: 350px;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    position: relative;
    width: auto;
    padding-top: 10px;
}

div.cont {
    padding-left: 10px;
    padding-right: 10px;
}

#fpopup {
    background: url("images/feedback_up.png") no-repeat right;
    height: 32px;
    position: relative;
    margin-top: -12px;
}

#fpopup a {
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px 0 #666;
    position: relative;
    float: right;
    font-weight: bold;
    padding-top: 15px;
    padding-right: 100px;
}

div#topimg div.cont h2, p:nth-child(2) {
    color: white;
    text-shadow: 1px 1px 0 #666 text-decoration : none;
}

p.more a {
    background: url("images/moreb.png") no-repeat right;
    padding-left: 245px;
    color: white;
    text-decoration: none;
    text-shadow: 1px 1px 0 #666;
    font-weight: bold;
}

p.more a:hover {
    text-decoration: underline;
}

div.cont {
    background: rgba(0, 0, 0, 0.4) left;
    position: absolute;
    bottom: 50px;
    right: 50px;
}

div#feedback {
    /* IE10 Consumer Preview */
    background-image: -ms-linear-gradient(top right, #FFFFFF 0%, #949494 100%);

    /* Mozilla Firefox */
    background-image: -moz-linear-gradient(top right, #FFFFFF 0%, #949494 100%);

    /* Opera */
    background-image: -o-linear-gradient(top right, #FFFFFF 0%, #949494 100%);

    /* Webkit (Safari/Chrome 10) */
    background-image: -webkit-gradient(linear, right top, left bottom, color-stop(0, #FFFFFF), color-stop(1, #949494));

    /* Webkit (Chrome 11+) */
    background-image: -webkit-linear-gradient(top right, #FFFFFF 0%, #949494 100%);

    /* W3C Markup, IE10 Release Preview */
    background-image: linear-gradient(to bottom left, #FFFFFF 0%, #949494 100%);
}

/****************************************************/
#contentbox.front {
    background: url("images/bgcont.jpg") no-repeat center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
    overflow: hidden;
    position: relative;
}

section#news.col h3 a {
    color: #000000;
}

aside#rightcol.col q, a {
    color: white;
    text-decoration: none;
    display: block;
}

div.abox {
    background: url("images/thumb_didyou.png") no-repeat;
    width: 280px;
    height: 189px;
    margin-bottom: 50px;
    position: relative;
    display: block;
}

div.abox h4 {
    position: absolute;
    top: -40px;
}


div#references.abox {
    padding-top: 10px;
}

div#didyouknow.abox {
    padding-top: 10px;
}

a.thumb.d2 span.link {
    margin-left: 230px;
    background: url("images/mores.png") no-repeat right;
    padding-right: 10px;
    font-weight: bold;
}

a.thumb.d2 span.sgn {
    margin-left: 200px;
    font-weight: bold;
}

a.thumb.d2 q {
    padding-top: 10px;
    margin: 15px;
    text-indent: 25px;
}

a.thumb.d2 q:before {
    content: "";
    background: url("images/quotl.png") no-repeat top left;
    width: 15px;
    height: 17px;
    position: absolute;
    left: 20px;
}

a.thumb.d2 q:after {
    content: "";
    background: url("images/quotr.png") no-repeat bottom right;
    width: 15px;
    height: 17px;
    position: absolute;
}

aside#rightcol.col div.abox {
    margin-top: 20px;
}

aside#rightcol.col div.abox h4 {
    margin-top: -10px;
    font-weight: bold;
    font-size: 14px;
}

/******************************************************************/

aside#rightcol.col {
    float: right;
    /*width: 330px;*/
    width: 30%;
    padding-top: 50px;
}

section#news.col {
    float: left;
    width: 70%;
}

section#news.col a {
    text-decoration: underline;
}

section#news.col p {
    border-bottom: 1px solid gray;
    width: inherit;
    padding-bottom: 15px;
    margin-top: -15px;
}

section#news.col p:nth-last-child(1) {
    border-bottom: none;
}

div.abox h4 {
    border-top: 1px solid gray;
    width: 100%;
    padding-top: 20px;
}

div.maintext {
    margin-left: 50px;
}

/****************************************************/
footer {
    background: url("images/bgfootfull.jpg") no-repeat;
    overflow: hidden;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: auto;
}

footer a {
    text-decoration: none;
    color: white;
}

footer .menu {
    float: left;
    margin-top: -1px;
}

footer .copy {
    float: right;
    color: white;
    margin-right: 40px;
}

div.inner hr {
    display: none;
}

footer li {
    display: inline-block;
}

div.inner {
    margin-top: 10px;
}

@media (max-width: 650px) {
    aside#rightcol.col {
        float: left;
        width: auto;
    }
}

@media (max-width: 650px) {
    section#news.col {
        float: none;
        width: 100%;
    }
}

