body {
    margin: 0;
    background-color: white;
    font-family: "Arial", "Helvetica", sans-serif;
    font-size: 12px;
    padding: 0;
}

h2 {
    margin: 0;
    padding: 20px 0 0 0;
    font-size: large;
    font-weight: normal;
    color: #c15e23;
}

#top {
    background-image: url("icon/bg.jpg");
    background-repeat: repeat-x;
    padding-left: 10em;
    padding-right: 10em;
    padding-bottom: 5em;
}

#top h1 {
    margin: 0;
    padding-top: 25px;
    color: #b16e43;
    font-style: italic;
    font-size: 1.5em;
}

#top h1 a {
    font-size: 2.5em;
    display: block;
    color: white;
    text-decoration: none;
}

#menu ul {
    padding: 30px 0px 0px 0px;
}

#menu li {
    display: inline;
    margin-right: 20px;
}

#menu a {
    color: white;
    padding-bottom: 25px;
}

#menu a:hover {
    background: url('icon/menu_bullet.gif') no-repeat bottom;
}

#middle {
    padding-left: 10em;
    background-color: white;
}

#bottom {
    padding-bottom: 20px;
    background-image: url("icon/footer_bg.gif");
    padding-left: 10em;
    padding-right: 10em;
    color: white;
}

#bottom h2 {
    color: white;
}

#bottom a {
    text-decoration: none;
    color: #b15e23;
}

#bottom dd {
    text-decoration: none;
    color: #b15e23;
}

#bottom ul {
    list-style-image: url("icon/footer_list_bullet.gif");
    padding-left: 25px;
}

table {
    border: solid 3px;
    color: black
}

th {
    border-left: dotted 2px;
    border-right: solid 2px;
    border-top: dotted 2px;
    border-bottom: solid 2px;
    background-color: #d5a17c;
    color: #656565;
    text-align: center;
}

td {
    border-top: 1px solid black;
    border-bottom: 1px solid gray;
    text-align: center;
}